PORT=3000
MONGO_URI=mongodb+srv://yuvameshram29_db_user:abc1234@cluster0.9uting0.mongodb.net/CHAT?retryWrites=true&w=majority

NODE_ENV=development

JWT_SECRET=your_jwt_secret

RESEND_API_KEY=dummy123
EMAIL_FROM=test@gmail.com
EMAIL_FROM_NAME=Test

CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

ARCJET_KEY=your_arcjet_key
ARCJET_ENV=development